.Footer {
    margin-top: 15px;
    margin-left: 12em;
    // display: flex;
    // flex-direction: row;
    // justify-content: end;
    // width: 100%;
    // bottom: 0;
    // position: absolute;
    a {
        margin: 0;
    }
}
