body {
    margin: 0;
    padding: 0;
    top: 0;
    position: absolute;
    width: 100%;
    // height: max-content;
    // height: 100vh;
    > * {
        // height: auto;
        position: relative;
        // height: 100vh;
        > * {
            // height: 100vh;
            .PageWrapper {
                // height: 100%;
            }
        }
    }
}

a {
    text-decoration: none;
    color: #000000;
    margin: 5px;
    // font-weight: 500;
    // padding: 5px 10px;
}

a:hover {
    text-decoration: none;
    color: #1ac4f8;
}

li {
    // padding: 10px 15px;
    // text-align: center;
    // border: 1px solid #000;
    margin: 5px;
    // border-radius: 5px;
}
